.header {
  background-color: #f8f9fa;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .title {
    font-size: 20px;
    color: black;
    padding: 10px 0 0 0;
    margin: 0;
    font-weight: 300;
  }

  .profile {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 10px;
  }

  .username {
    margin: 0 10px;
    padding: 14px 0;
  }

  .authButtons {
    display: flex;

    .signIn {
      background: none;
      color: #007bff;
      margin: 0 10px;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .signUp {
      background: white;
      color: rgba(82, 196, 26, 1);
      border-radius: 5px;
      border: rgba(82, 196, 26, 1) 1px solid;

      p {
        padding: 0 10px;
      }
    }
  }
}
